/* @font-face {
  font-family: 'KoreanFrenchTypewriter';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/KoreanFrenchTypewriter.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Sans', sans-serif; */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}