*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
}
body{
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Noto Sans', sans-serif;;
  background-color: #e6e6e6;
  color: #111111;
}